<% content_for :title, 'New ad' %>

<div id="new-job">
  <h2>Post a job listing</h2>

  <% semantic_form_for @job do |form| %>
    <% form.inputs do %>
      <%= form.input :subject %>
      <%= form.input :organization %>
      <%= form.input :description %>
      <%= form.input :expires_on, :start_year => Time.now.year %>
      <%= form.input :email %>
      <%= form.input :phone %>
    <% end %>
    <% form.buttons do %>
      <%= form.commit_button 'Post ad' %>
    <% end %>
  <% end %>
</div>