<% content_for :title, @job.subject %>

<div id="job-post">
  <h2 class="job-title"><%= @job.subject %></h2>

  <p>Posted on <%= @job.created_at.to_s(:posted_on) %> by <%= @job.organization %>.</p>

  <div id="description">
    <%= auto_link simple_format(@job.description) %>
  </div>

  <ul id="contact-methods">
    <% if @job.email.present? %>
      <li><%= mail_to @job.email, 'Contact by email' %></li>
    <% end %>

    <% if @job.phone.present? %>
      <li><%= link_to 'Contact by phone', "tel://#{@job.phone}" %></li>
    <% end %>
  </ul>
</div>