<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Job board for Android developers near Boston, MA.">
    <title><%= yield :title %> - Boston Android job board</title>
    <link rel="icon" href="favicon.ico">
    <%= stylesheet_link_tag 'application', :media => 'all', :cache => true %>
    <%= csrf_meta_tag %>
  </head>
  <body class="<%= body_class %>">

    <div id="container">

      <h1>Android Job Listings near Boston</h1>
      <ul id="nav">
        <li><%= link_to 'Full job list', jobs_path %></li>
        <li><%= link_to 'Post a new job', new_job_path %></li>
      </ul>

      <%= render :partial => 'shared/flashes' -%>

      <%= yield -%>

      <p id="footer">Brought to you by the <%= link_to 'Boston Android developers group', 'http://bostonandroid.org/' %>.</p>
    </div>
  </body>
</html>
