<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= yield :title %> - Boston Android job board</title>
    <%= stylesheet_link_tag 'screen', :media => 'all', :cache => true %>
    <%= csrf_meta_tag %>
  </head>
  <body class="<%= body_class %>">
    <%= yield :header -%>
    <h1><%= yield :h1 -%></h1>
    <%= render :partial => 'shared/flashes' -%>

    <%= yield -%>

    <p id="footer">
      Brought to you by the <%= link_to 'Boston Android developers group', 'http://bostonandroid.org/' %>.
    </p>
  </body>
</html>
